[submodule "knxPython/pybind11"]
	path = knxPython/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "examples/knx-cc1310/coresdk_cc13xx_cc26xx"]
	path = examples/knx-cc1310/coresdk_cc13xx_cc26xx
	url = https://github.com/contiki-ng/coresdk_cc13xx_cc26xx.git
